<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020-2022 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       					http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="false">

  <jdbc:embedded-database id="dataSourceRole">
    <jdbc:script location="classpath:io/mybatis/activerecord/spring/database-schema-role.sql"/>
  </jdbc:embedded-database>

  <jdbc:embedded-database id="dataSourceUser">
    <jdbc:script location="classpath:io/mybatis/activerecord/spring/database-schema-user.sql"/>
  </jdbc:embedded-database>

  <task:scheduler id="myScheduler"/>

  <bean id="systemTask" class="io.mybatis.activerecord.spring.SystemTask"/>

  <bean id="sqlSessionFactoryRole" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSourceRole"/>
  </bean>

  <bean id="sqlSessionFactoryUser" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSourceUser"/>
  </bean>

  <bean id="sqlSessionTemplateRole" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlSessionFactoryRole"/>
    <constructor-arg index="1" value="SIMPLE"/>
    <constructor-arg index="2">
      <null/>
    </constructor-arg>
  </bean>

  <bean id="sqlSessionTemplateUser" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlSessionFactoryUser"/>
    <constructor-arg index="1" value="SIMPLE"/>
    <constructor-arg index="2">
      <null/>
    </constructor-arg>
  </bean>

  <!-- 通过 init-method 将当前实例作为默认实现 -->
  <bean id="mapperProviderRole" class="io.mybatis.activerecord.spring.MapperProvider"
        init-method="registerAsDefault">
    <constructor-arg index="0" ref="sqlSessionTemplateRole"/>
  </bean>

  <bean id="mapperProviderUser" class="io.mybatis.activerecord.spring.MapperProvider">
    <constructor-arg index="0" ref="sqlSessionTemplateUser"/>
  </bean>

  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="io.mybatis.activerecord"/>
    <property name="markerInterface" value="io.mybatis.activerecord.spring.RoleMarker"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryRole"/>
  </bean>

  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="io.mybatis.activerecord"/>
    <property name="markerInterface" value="io.mybatis.activerecord.spring.UserMarker"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryUser"/>
  </bean>

  <task:scheduled-tasks scheduler="myScheduler">
    <task:scheduled ref="systemTask" method="run" fixed-delay="5000"/>
  </task:scheduled-tasks>
</beans>
